.image {
    height: 100%;
    border-radius: 30px;
    border: 2px solid black;
}
.content {
    display: flex;
    display:flex;
    justify-content: space-around;
}
.content-left {
    width: 1000px; 
    height: 700px;
    border-radius: 30px;
    border: 5px solid black;
    padding: 30px;
    background-color: rgb(206, 173, 198);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-right {
    width: 700px;
    height: 500px;
    background-color: rgb(165, 118, 157);
    border-radius: 30px;
    border: 5px solid black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
body { 
    background-color: rgb(215, 203, 216);    
} 

h1 { 
    color: rgb(10, 4, 4); 
    font-size:xx-large;
    margin-left: 800px;
}
h5{
    font-size: x-large;
    color: rgb(83, 40, 60);
}
a {
    font-size: x-large;
    color: rgb(41, 10, 24);
    box-shadow: 10px 5px 5px red;
}
h3 {
    font-size: x-large;
    color: rgb(83, 40, 60);
}
h4 {
    font-size: x-large;
    color: rgb(83, 40, 60);
}

p {
    font-size: x-large;
    
}

ul {
    font-size: x-large;
}
ol {
    font-size: x-large;
}